// Import page-specific CSS files here.
@import "home";

li {
    list-style-type: none;
}


.card-img-top {
  height: 300px;
  border-radius: 20px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.card {
  text-align: center;
  border-radius: 20px;
}
